*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #000; */
  font-family: 'Gilroy';
}
.navigation{
  width: 100%;
  background: royalblue;
  border-bottom: 1px solid black;
}
.nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 15px ;
  color: white;
}
.nav-list{
  display: flex;
  gap: 3vw;
}
.nav #logo{
  font-size: max(1vw,18px);
}
.nav-list {
  text-decoration: none;
  list-style: none;
}
.nav li a{
  font-size: 18px;
  text-decoration: none;
  color: white;
  background: transparent;
}
.header{
  width: 100%;
  padding: 15px 25px;
}
.hero-section,.admin-section,
.view{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.profile-card,.admin-card{
  width: 320px;
  padding: 8px;
  border-radius: 10px;
  background: #6991c9;
  display: flex;
  gap: 12px;
  border: 1px solid black;
}
#profile-img{
  width: 80px;
  border-radius: 10px;
}
#profile-text{
  color: white;
}
#profile-btn{
  padding: 4px 10px ;
  color: white;
  font-size: 16px;
  background: royalblue;
  border: none;
  border-radius: 10px;
  border: 1px solid black;
  text-decoration: none;
}
.profile-inner{
  display: flex;
  flex-direction: column;
  gap: 6px;
}
#back-btn{
  background: yellow;
  padding: 5px 10px ;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid black;
}
.center{
  text-align: center;
  padding: 20px;
}
.form-div{
  padding: 50px 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.admin-card{
  flex-direction: column;
  align-items: center;
}
.btns a{
  text-decoration: none;
  margin: 0px 5px;
}
.view{
  flex-direction: column;
  padding: 25px 15px ;
  gap: 12px;
}
#input{
  width: 325px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 10px;
}

 /* map api */
.map-div{
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.aerial-view-media {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 780px;
  max-width: 780px;
}